/*客户帮助css*/

/*容器宽度*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid pink;
}

/*自定义滚动条*/
.help_warp {
  position: relative;
  height: 100%;
  overflow-y: auto;
  z-index: 300;
  &::-webkit-scrollbar {
    width: 16px;
    //z-index: 300;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  /*定义滑块 内阴影+圆角*/
  &::-webkit-scrollbar-thumb {
    background-color: #999999;
  }
}

/*客户帮助*/
.help_warp {
  /*头部*/
  .help_header {
    background: url("../images/bg/bg_help.png") no-repeat;
    /*导航条*/
    .nav_bar {
      width: 100%;
      height: 60px;
      //background-color: #003366;
      background: rgba(0, 51, 102, 0.8);
      //opacity: 0.8;
      position: fixed;
      top: 0;
      //left: 0;
      z-index: 200;
      //box-shadow: 0 2px 2px rgba(0,0,0,.2);
      //border: 1px solid #000;
      .container {
        display: flex;
        justify-content: space-between;
        .logo {
          > a {
            width: 55px;
            height: 40px;
            //border: 1px solid red;
            margin-top: 10px;
            background: url("../images/logo/home_logo.png") no-repeat;
            text-indent: -9999px;
          }
        }
        .nav {
          //border: 1px solid red;
          display: flex;
          > a {
            //display: block;
            height: 60px;
            padding: 0 35px;
            //border: 1px solid blue;
            display: flex;
            justify-content: center;
            align-items: center;
            > li {
              //border: 1px solid blue;
              //height: 60px;
              > span {
                color: white;
                display: block;
                //padding: 0 35px;
                //line-height: 60px;
                //border: 1px solid red;
              }
              > em {
                display: none;
                //width: 30px;
                //width: 100%;
                height: 1px;
                //border-radius: 50%;
                background-color: white;
                position: relative;
                top: 6px;
                left: 0;
                right: 0;
                margin: auto;
              }
            }
            &:hover {
              li {
                > em {
                  display: block;
                }
              }
              background-color: #85B0DE;
            }
            &.active {
              li {
                > em {
                  display: block;
                }
              }
              background-color: #85B0DE;
            }
          }
          > .nav_login_register {
            width: 100px;
            //border: 1px solid green;
            //display: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 50px;
            > a {
              //width: 50px;
              //border: 1px solid blue;
              display: block;
              font-size: 16px;
              color: white;
              text-align: center;
              //margin-top: 21px;
              &:hover {
                color: #85B0DE;
              }
              padding-left: 5px;
              padding-right: 5px;
            }
            .login {
              float: left;
            }
            .login_right_line {
              width: 1px;
              height: 15px;
              margin-top: 1px;
              background-color: white;
            }
            .register {
              float: right;
            }
          }
        }
      }
    }
    /*banner*/
    .help_banner {
      width: 100%;
      //margin-top: 60px;
      .container {
        //border: 1px solid #ffffff;
        height: 418px;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        //justify-content: center;
        align-items: center;
      }
    }
  }
  /*主体*/
  .help_main {
    .container {
      .main_tab {
        //border: 1px solid red;
        background: white;
        box-shadow: 0px 3px 26px 2px rgba(14, 72, 180, 0.08);
        border-radius: 8px;
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        .tab_header {
          width: 960px;
          display: flex;
          justify-content: space-between;
          margin-top: 80px;
          margin-bottom: 50px;
          //border: 1px solid green;
          .header_item {
            //width: 158px;
            //height: 44px;
            //border: 1px solid #000;
            //border-radius: 22px;
            text-align: center;
            line-height: 24px;
            cursor: pointer;
            color: #83B4E5;
            &:hover {
              //background-color: #1b1b1b;
              color: #003366;
              border-bottom: 1px solid #003366;
            }
          }
          .active {
            //background-color: #003366;
            color: #003366;
            border-bottom: 1px solid #003366;
          }
        }
        .tab_body {
          width: 1040px;
          .body_item {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 60px;
            border-radius: 8px;
            background-color: #F0F2F7;
            .item_vessel {
              //height: 205px;
              //border: 1px solid red;
              display: flex;
              justify-content: space-between;
              padding: 50px 102px 50px 40px;
              .vessel_left {
                width:10px;
                height:10px;
                background-color: #003366;
                border-radius:50%;
                margin-right: 60px;
              }
              .vessel_right {
                //height: 205px;
                //border: 1px solid green;
                margin-top: -12px;
                flex: 1;
                > h3 {
                  font-size: 24px;
                  color: #003366;
                  line-height: 40px;
                  font-weight: bold;
                }
                .right_text {
                  margin-top: 20px;
                  //border: 1px solid #000;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3; // 显示3行
                  line-height: 24px;
                  color: #585858;

                }
                > a {
                  font-size: 14px;
                  color: #003366;
                  margin-top: 28px;
                }
              }
            }
            &:hover {
              background-color: #003366;
              .vessel_left {
                background-color: #85B0DE;
              }
              .vessel_right {
                > h3 {
                  color: #85B0DE;
                }
                > .right_text {
                  color: white;
                }
                > a {
                  color: #85B0DE;
                }
              }
            }
            &:last-child{
              margin-bottom: 100px;
            }
          }
        }
      }

    }
  }
  /*底部*/
  .footer {
    width: 100%;
    //background-color: #1b1b1b;
    .footer_main {
      //height: 338px;
      background: url("../images/bg/bg_di.png") no-repeat;
      .container {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        > div {
          font-size: 14px;
          line-height: 24px;
          > a {
            color: #eeeeee;
            white-space: nowrap;
            &:first-child {
              color: white;
            }
            &:hover {
              color: #85B0DE;
            }
          }
          > p {
            color: #eeeeee;
          }
        }
        .footer_logo {
          > a {
            width: 55px;
            height: 39px;
            //border: 1px solid red;
            background: url("../images/logo/home_logo.png") no-repeat;
            text-indent: -9999px;
          }
        }
        .footer_risk {
          width: 550px;
          //height: 135px;
        }
        .footer_help {
          width: 56px;
          height: 134px;
        }
        .footer_account {
          width: 57px;
          height: 86px;
        }
        .footer_about_us {
          width: 56px;
          height: 110px;
        }

      }
      .footer_line {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        height: 1px;
        background-color: white;
      }
      .footer_policy {
        //border: 1px solid red;
        font-size: 14px;
        line-height: 24px;
        > h3 {
          color: white;
        }
        > p {
          color: #eeeeee;
        }
      }
    }

    .footer_address {
      font-style: normal;
      color: white;
      background-color: #003366;
      p {
        text-align: center;
        height: 74px;
        line-height: 74px;
      }
    }

    /*.container {
      //border: 1px solid #000;
      .footer_main {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 30px;
        > div {
          font-size: 14px;
          line-height: 24px;
          > a {
            color: #eeeeee;
            white-space: nowrap;
            &:first-child {
              color: white;
            }
            &:hover {
              color: #ffe6b5;
            }
          }
          > p {
            color: #eeeeee;
          }
        }
        .footer_logo {
          > a {
            width: 87px;
            height: 25px;
            //border: 1px solid pink;
            background: url("../images/logo/home_logo.png") no-repeat;
            text-indent: -9999px;
          }
        }
        .footer_risk {
          width: 550px;
          //height: 135px;
        }
        .footer_help {
          width: 56px;
          height: 134px;
        }
        .footer_account {
          width: 57px;
          height: 86px;
        }
        .footer_about_us {
          width: 56px;
          height: 110px;
        }
      }
      .footer_policy {
        //border: 1px solid white;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px;
        > h3 {
          color: white;
        }
        > p {
          color: #eeeeee;
        }
      }
    }*/
    /*.footer_line {
      width: 100%;
      height: 1px;
      background-color: #ffe6b5;
    }*/
  }
}